@charset "UTF-8";

/* ---------------------------------------------------------- *\
 * Typography.
\* ---------------------------------------------------------- */

html {
  color: $font-color;

  font: 62.5%/1.4 Verdana, sans-serif;
}

body {
  font-size: $font-size;
}
