@charset "UTF-8";

/* ---------------------------------------------------------- *\
 * Variables.
\* ---------------------------------------------------------- */

$brand-color: rgb(42, 142, 242);

// Font.
$font-color: rgb(10, 10, 10);
$font-size: 1.5em;
